@{
    ViewBag.Title = "Üyelik Bilgileri";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/default.css">
</head>
<body>
    
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <form class="userInfoForm">
            <span>Kullanıcı Adı</span>
            <input type="text" name="username" placeholder=""/>
            </form>
    </div>
</body>


</html>